<div class="footer-outer">
    <div class="footer-inner">
        <div><a href="/">Employers' Package</a></div>
        <div>Email: employerspackage@myanmargarments.org</div>
        <div>Phone: 09 25 731 3341</div>
        <div class="copy-right">&copy; All rights reserved by MGMA</div>
    </div>
</div>
<style>
    .footer-outer {
        width: 100%;
        background-color: #222;
        color: #ddd;
    }
    .footer-inner {
        width: 1200px;
        margin: auto;
        padding: 3rem 0;
    }
    .footer-inner div:first-child a {
        text-decoration: none;
        color: #ddd;
        font-size: 1.5rem;
    }
    .footer-inner div {
        margin-bottom: 1rem;
    }
    .copy-right {
        text-align: right;
        margin-top: 5rem;
        font-size: 0.75rem;
    }
</style>