<div class="home-outer">
    <div class="home-inner">
        <div class="mgmaemp-line">
            <div class="mgmaemp">MGMAemp</div>
            <p class="text">MGMA Employers' Package, a service package for employers developed by Myanmar Garment Manufacturers Association (MGMA).</p>
        </div>
        <div class="home-block-wrapper">
            <a href="#" class="icon fo1">
                <svg viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"><defs><style>.fil1{fill:#fffffe;fill-rule:nonzero}</style></defs><path style="fill:#424242" d="M0 0h2048v2048H0z"/><g id="Layer_x0020_1"><path class="fil1" d="M463.999 1346.02h393.324c17.673 0 32 14.328 32 32v381.984c0 17.673-14.327 32-32 32-9.517 0-18.063-4.156-23.924-10.751l-391.65-380.357c-12.632-12.287-12.912-32.492-.625-45.125 6.255-6.431 14.56-9.658 22.875-9.66v-.091zm361.323 64.002H542.754l282.568 274.42v-274.42z"/><path class="fil1" d="M463.999 255.999h1152v1536.002H857.323l-22.25-9.126-393.324-381.983-9.751-9.47V256.003h32zm1088 64.002h-1056v1044.61l374.177 363.388h681.823v-1408z"/><path class="fil1" d="M689.103 404.104c26.505 0 50.506 10.748 67.88 28.12 17.372 17.373 28.12 41.374 28.12 67.88 0 26.505-10.748 50.506-28.12 67.88-17.374 17.372-41.375 28.12-67.88 28.12-26.506 0-50.508-10.748-67.88-28.12-17.372-17.374-28.12-41.375-28.12-67.88 0-26.506 10.748-50.507 28.12-67.88 17.373-17.372 41.374-28.12 67.88-28.12zm22.629 73.371c-5.788-5.787-13.79-9.37-22.629-9.37a31.903 31.903 0 0 0-22.629 9.37 31.903 31.903 0 0 0-9.37 22.63c0 8.838 3.583 16.84 9.37 22.628a31.903 31.903 0 0 0 22.629 9.37c8.84 0 16.841-3.583 22.629-9.37 5.787-5.788 9.37-13.79 9.37-22.629a31.903 31.903 0 0 0-9.37-22.629z"/><path class="fil1" d="m718.228 542.128 61.125 135.407-58.249 26.251-61.126-135.407z"/><path class="fil1" d="m718.228 568.379-61.126 135.407-58.25-26.251 61.126-135.407zM975.999 639.996H1456v64.002H975.999zM975.999 511.998H1456v64.001H975.999zM591.998 799.999H1456v64.002H591.998zM591.998 927.996H1456v64.002H591.998zM591.998 1055.99H1456V1120H591.998zM591.998 1183.99H1456v64H591.998z"/><path style="fill:none" d="M0 0h2048v2048H0z"/></g></svg>
                <div>Documents &rarr;</div>
            </a>
            <a href="#" class="icon fo4">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 2048 2048" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"><defs><style>.fil2{fill:#fffffe;fill-rule:nonzero}</style></defs><g id="Layer_x0020_1"><rect width="2048" height="2048" rx="256.001" ry="256.001" style="fill:#009688"/><path style="fill:none" d="M255.999 255.999h1536v1536h-1536z"/><path class="fil2" d="M1024 303.999c198.819 0 378.819 80.59 509.115 210.886S1744.001 825.181 1744.001 1024c0 198.819-80.59 378.819-210.886 509.115S1222.819 1744.001 1024 1744.001c-198.819 0-378.819-80.59-509.115-210.886S303.999 1222.819 303.999 1024c0-198.819 80.59-378.819 210.886-509.115S825.181 303.999 1024 303.999zm463.864 256.136C1369.154 441.425 1205.153 368 1024 368c-181.153 0-345.154 73.424-463.864 192.135-118.71 118.71-192.135 282.711-192.135 463.864 0 181.153 73.424 345.154 192.135 463.864 118.71 118.71 282.711 192.135 463.864 192.135 181.153 0 345.154-73.424 463.864-192.135 118.71-118.71 192.135-282.711 192.135-463.864 0-181.153-73.424-345.154-192.135-463.864z"/><path class="fil2" d="M1056 336v111.998h-64.001V336zM1056 1600v112h-64.001v-112zM336 991.999h111.998V1056H336zM1600 991.999h112V1056h-112z"/><g id="_291469544"><path id="_291459656" class="fil2" d="M1184.68 927.263c-20.24 20.24-44.613 36.632-71.86 47.922-26.146 10.833-54.653 16.816-84.372 16.816-29.724 0-58.233-5.98-84.381-16.812-27.247-11.287-51.617-27.676-71.856-47.915-20.238-20.24-36.627-44.612-47.914-71.857-10.832-26.15-16.812-54.66-16.812-84.383 0-29.725 5.98-58.236 16.81-84.385 11.287-27.246 27.675-51.616 47.915-71.855 20.237-20.237 44.607-36.626 71.853-47.913 26.15-10.83 54.663-16.81 84.385-16.81 29.72 0 58.227 5.98 84.376 16.813 27.247 11.288 51.618 27.679 71.858 47.918 20.24 20.24 36.63 44.61 47.919 71.857 10.833 26.147 16.814 54.655 16.814 84.375a220.27 220.27 0 0 1-16.815 84.496l-.045-.019c-11.288 27.207-27.662 51.539-47.875 71.752zm-399.965 507.221h-90.766v-174.686c0-14.175 1.227-28.554 3.595-43 2.349-14.332 5.87-28.455 10.47-42.247 4.569-13.696 10.258-27.033 16.97-39.888 6.922-13.254 14.594-25.508 22.923-36.646 8.458-11.311 18.066-22.174 28.73-32.466 10.203-9.852 21.443-19.095 33.63-27.618 12.026-8.412 24.568-15.825 37.525-22.122a271.607 271.607 0 0 1 40.357-15.796l10.56-3.18 19.995-6.024 16.64-5.013 13.235 11.387 15.906 13.684 8.4 7.226c1.691 1.456 3.834 3.113 6.408 4.958 2.45 1.755 4.706 3.244 6.756 4.457 2.562 1.515 4.993 2.83 7.276 3.928 1.841.887 4.139 1.844 6.885 2.862v.125c1.798.668 4.038 1.36 6.71 2.07 2.187.582 4.844 1.154 7.965 1.708 2.49.442 5.134.786 7.921 1.027 2.634.228 5.372.344 8.202.344a93.11 93.11 0 0 0 8.087-.344 88.746 88.746 0 0 0 7.86-1.026 89.02 89.02 0 0 0 7.506-1.67l-.008-.031c2.768-.751 5.257-1.537 7.454-2.35 3.114-1.15 5.616-2.173 7.495-3.055a81.613 81.613 0 0 0 6.603-3.48c1.487-.875 3.61-2.3 6.353-4.263 2.569-1.841 4.715-3.495 6.41-4.945l8.933-7.635 16.915-14.458 14.074-12.03 17.426 6.28 20.941 7.549 11.058 3.986c14.92 5.378 28.409 11.14 40.487 17.296a287.297 287.297 0 0 1 35.828 21.664c11.583 8.218 22.256 17.178 32.041 26.89a241.475 241.475 0 0 1 26.67 31.418 243.553 243.553 0 0 1 20.813 35.172c5.823 12.03 10.802 24.898 14.968 38.617 3.933 12.952 7.006 26.335 9.25 40.172 2.208 13.605 3.634 27.714 4.31 42.341l.036.4.25 2.874V1291.817h-.255l.032 51.9.012 20.31.021 38.456.017 32.001h-577.88z"/><path id="_291459800" class="fil2" d="M1480.82 867.996c-10.056 10.055-22.165 18.2-35.702 23.809a109.291 109.291 0 0 1-41.919 8.355 109.332 109.332 0 0 1-41.923-8.354c-13.537-5.607-25.644-13.75-35.7-23.805-10.055-10.056-18.197-22.165-23.805-35.701a109.335 109.335 0 0 1-8.353-41.924c0-14.768 2.972-28.933 8.352-41.925 5.607-13.536 13.75-25.644 23.806-35.7 10.053-10.054 22.162-18.196 35.699-23.804a109.34 109.34 0 0 1 41.924-8.352c14.766 0 28.929 2.972 41.92 8.353 13.538 5.609 25.645 13.753 35.702 23.807 10.056 10.055 18.199 22.164 23.808 35.702a109.296 109.296 0 0 1 8.354 41.92c0 14.807-2.972 28.99-8.354 41.98l-.024-.01c-5.608 13.518-13.742 25.606-23.785 35.649zm-238.377 127.832a135.171 135.171 0 0 1 9.987-24.789c3.439-6.586 7.25-12.674 11.389-18.208 4.202-5.62 8.976-11.016 14.273-16.129 5.07-4.896 10.654-9.488 16.71-13.722 5.973-4.18 12.205-7.863 18.642-10.99a134.742 134.742 0 0 1 20.05-7.849l5.247-1.58 9.934-2.993 8.268-2.49 6.575 5.658 7.903 6.798 4.174 3.59c.84.722 1.904 1.546 3.184 2.462a45.88 45.88 0 0 0 6.97 4.167c.915.44 2.056.917 3.421 1.422v.061c.893.332 2.006.676 3.333 1.03 1.087.289 2.407.572 3.957.847 1.239.221 2.551.391 3.937.51 1.308.115 2.669.172 4.074.172a45.702 45.702 0 0 0 7.923-.682 43.697 43.697 0 0 0 3.729-.829l-.004-.015a43.792 43.792 0 0 0 3.703-1.167c1.547-.572 2.791-1.08 3.725-1.518a41.053 41.053 0 0 0 3.28-1.729c.739-.435 1.794-1.143 3.156-2.119 1.277-.914 2.342-1.736 3.186-2.455l4.437-3.794 8.404-7.184 6.992-5.976 8.658 3.12 10.405 3.75 5.493 1.98c7.413 2.672 14.114 5.536 20.115 8.594a142.68 142.68 0 0 1 17.8 10.763 126.244 126.244 0 0 1 15.92 13.36 119.892 119.892 0 0 1 13.25 15.61 121.06 121.06 0 0 1 10.341 17.474c2.893 5.976 5.367 12.37 7.436 19.185 1.954 6.436 3.481 13.085 4.596 19.96 1.097 6.758 1.806 13.77 2.141 21.036l.018.199.125 1.427v16.332h-.127l.015 25.785.006 10.09.012 19.106.007 15.9H1362.462a275.784 275.784 0 0 0-23.25-39.183 273.751 273.751 0 0 0-30.2-35.574c-11.16-11.078-23.243-21.179-36.067-30.277a318.381 318.381 0 0 0-30.502-19.136z"/><path id="_291468248" class="fil2" d="M723.811 867.996c-10.056 10.055-22.165 18.2-35.702 23.809a109.291 109.291 0 0 1-41.919 8.355 109.332 109.332 0 0 1-41.923-8.354c-13.537-5.607-25.644-13.75-35.7-23.805-10.055-10.056-18.198-22.165-23.805-35.701a109.335 109.335 0 0 1-8.353-41.924c0-14.768 2.972-28.933 8.352-41.925 5.607-13.536 13.75-25.644 23.806-35.7 10.053-10.054 22.162-18.196 35.699-23.804a109.34 109.34 0 0 1 41.924-8.352c14.766 0 28.929 2.972 41.92 8.353 13.538 5.609 25.645 13.753 35.702 23.807 10.056 10.055 18.199 22.164 23.808 35.702a109.296 109.296 0 0 1 8.354 41.92c0 14.807-2.972 28.99-8.354 41.98l-.024-.01c-5.608 13.518-13.742 25.606-23.785 35.649zm-198.715 252.003H480V1033.209c0-7.041.61-14.186 1.787-21.364a135.603 135.603 0 0 1 13.634-40.806c3.438-6.585 7.25-12.674 11.388-18.207 4.202-5.62 8.976-11.017 14.274-16.13 5.069-4.895 10.653-9.487 16.709-13.722 5.974-4.18 12.205-7.862 18.642-10.99a134.742 134.742 0 0 1 20.05-7.848l5.247-1.58 9.934-2.993 8.268-2.49 6.575 5.657 7.903 6.799 4.174 3.589c.84.723 1.904 1.546 3.184 2.463a45.88 45.88 0 0 0 6.97 4.167c.915.44 2.056.916 3.422 1.422v.061c.893.332 2.005.676 3.333 1.029 1.086.29 2.407.573 3.956.848 1.24.22 2.552.39 3.937.51 1.309.115 2.67.171 4.075.171a45.702 45.702 0 0 0 7.923-.681 43.697 43.697 0 0 0 3.728-.83l-.003-.015a43.792 43.792 0 0 0 3.703-1.167c1.547-.571 2.79-1.08 3.725-1.517a41.053 41.053 0 0 0 3.28-1.73c.738-.434 1.794-1.143 3.156-2.118 1.276-.915 2.342-1.737 3.185-2.456l4.437-3.794 8.404-7.183 6.992-5.976 8.659 3.12 10.404 3.75 5.493 1.98c7.413 2.671 14.115 5.535 20.116 8.593a142.68 142.68 0 0 1 17.8 10.764 126.244 126.244 0 0 1 15.92 13.36 119.892 119.892 0 0 1 13.25 15.609 121.06 121.06 0 0 1 10.34 17.474c2.893 5.976 5.367 12.371 7.437 19.186a148.577 148.577 0 0 1 2.847 10.854 316.63 316.63 0 0 0-16.332 10.693c-13.274 9.284-25.859 19.566-37.515 30.818-11.642 11.238-22.44 23.364-32.132 36.325-9.664 12.925-18.193 26.695-25.66 40.998l-.078.147H525.096z"/></g></g></svg>
                <div>Advices &rarr;</div>
            </a>
            <a href="#" class="icon fo3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270.6 270.6" xml:space="preserve"><path fill="#5EB4E7" d="M0 0h270.6v270.6H0z"/><path fill="#282D33" d="M196.4 198.1h-4v-4h4v4zm-8 0h-4v-4h4v4zm-8 0h-4v-4h4v4z"/><path fill="#2E95D1" d="M45.3 181.3v-32.5c-5.5-5.5-8.9-13.2-8.9-21.6 0-16.9 13.7-30.6 30.6-30.6 16.9 0 30.6 13.7 30.6 30.6v1.4l4.3 7.4 5.6 9.7h-7.1v12.1c0 4.6-3.7 8.3-8.3 8.3H79v15.2H45.3z"/><path fill="#282D33" d="M79.2 143.8h20.3v4H79.2zM78.8 154.2h48.3v4H78.8zM78.8 164.7h48.3v4H78.8zM78.8 175.1h48.3v4H78.8zM78.8 185.6H110v4H78.8z"/><path fill="#FFF" d="M134.3 162.1c.1-11 1.7-19.1 4.9-24.2 3.2-5.1 9.6-11.3 19.1-18.7 5.6-4.6 10.1-9.5 13.4-14.8 3.3-5.3 5-11.2 5-17.7 0-7.2-1.9-12.9-5.7-17-3.8-4.1-9.3-6.1-16.4-6.1-5.8 0-10.8 1.7-14.8 5.2-4.1 3.5-6.1 8.6-6.2 15.2H100l-.2-.7c-.2-15.1 4.7-26.7 15-34.8 10.2-8 23.5-12.1 39.9-12.1 17.7 0 31.5 4.5 41.5 13.4s15.1 21.1 15.1 36.5c0 10-2.9 19.3-8.8 27.8s-13.2 15.6-22 21.4c-4.8 3.7-8 7.4-9.5 11.2-1.5 3.7-2.2 8.9-2.2 15.4h-34.5zm34.6 49h-34.8v-29.6h34.8v29.6z"/><path fill="#282D33" d="M139.1 151.8h-4v-11.9h-14.5c-6.9 0-12.4-5.6-12.4-12.4v-13.3H97.7l14-24.2v-1.3c0-17.9 11.4-33.5 28.5-38.8 3.1-1 6.4-1.6 9.7-1.8l.2 4c-3 .2-5.9.7-8.8 1.6-15.4 4.8-25.7 18.9-25.7 35V91l-11.1 19.2h7.5v17.3c0 4.7 3.8 8.4 8.4 8.4h18.5v15.9zM181.7 151.8h-4v-36.5l.6-.6c6.9-6.9 10.7-16.1 10.7-25.9 0-13.7-7.5-26.1-19.6-32.5-2.4-1.3-5-2.3-7.6-3l1-3.9c2.9.8 5.7 1.9 8.4 3.3 13.4 7.1 21.7 20.9 21.7 36 0 10.6-4 20.5-11.3 28.1v35zM155.9 151l-10.5-19.3v-3.5h4v2.5l6.5 11.9 6.5-11.9v-2.5h4v3.5z"/><path fill="#282D33" d="M145.4 130.7V56.5h4v70.2h13V59h4v71.7z"/><path fill="#282D33" d="M153.9 48.4h4v77.5h-4zM166.4 44.7h-4v-6.4h-13v6.4h-4v-6.9c0-1.9 1.7-3.5 3.9-3.5h13.3c2.2 0 3.9 1.5 3.9 3.5l-.1 6.9z"/><g><path fill="#282D33" d="m123.5 207.1-11.8-11 11.8-11.1 2.8 3-8.8 8.1 8.8 8.1z"/><path fill="#282D33" d="M115.7 194.1h46.5v4h-46.5z"/></g><g><path fill="#282D33" d="m67.8 130.8-2.5-3.1 4.9-4c1.3-.8 2.8-2.1 2.8-3.5v-4.5c0-2.5-2.1-4.6-4.6-4.6h-5.3c-2.5 0-4.6 2.1-4.6 4.6v2.1h-4v-2.1c0-4.8 3.9-8.6 8.6-8.6h5.3c4.7 0 8.6 3.9 8.6 8.6v4.5c0 2.5-1.5 4.8-4.6 6.8l-4.6 3.8z"/><path fill="#282D33" d="M64.4 139.3h-4v-4.5c0-2.5 1.5-4.8 4.6-6.8l4.6-3.8 2.5 3.1-4.9 4c-1.3.8-2.8 2.1-2.8 3.5v4.5zM60.4 143.5h4v5.1h-4z"/></g></svg>
                <div>Trainings &rarr;</div>
            </a>
            <a href="#" class="icon fo2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M14 9.5H8a1.5 1.5 0 0 0 0 3h6a1.5 1.5 0 0 0 0-3z"/><path d="M60 3.5H4A3.5 3.5 0 0 0 .5 7v50A3.5 3.5 0 0 0 4 60.5h56a3.5 3.5 0 0 0 3.5-3.5V7A3.5 3.5 0 0 0 60 3.5zM3.5 7a.5.5 0 0 1 .5-.5h56a.5.5 0 0 1 .5.5v8.5h-57zm57 50a.5.5 0 0 1-.5.5H4a.5.5 0 0 1-.5-.5V18.5h57z"/><path d="M56 29.5H44a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3zM56 36.5H44a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3zM56 50.5H44a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3zM8 25.5h48a1.5 1.5 0 0 0 0-3H8a1.5 1.5 0 0 0 0 3zM56 43.5H44a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3z"/><path d="M38 40.5a37.769 37.769 0 0 0-29.309 14H38a1.5 1.5 0 0 0 1.5-1.5V40.5z" style="fill:#3e3ef4"/><path d="M38 29.5H8A1.5 1.5 0 0 0 6.5 31v21.445C6.792 52.223 17.72 37.5 38 37.5h1.5V31a1.5 1.5 0 0 0-1.5-1.5zM12 37a2 2 0 1 1 2-2 2 2 0 0 1-2 2z" style="fill:#3e3ef4"/></svg>
                <div>Posts &rarr;</div>
            </a>
        </div>
        <div class="register-now-block"><a href="#" class="register-now">Register Now&ensp;&rarr;</a></div>
    </div>
</div>
<style>
    .home-outer {
        width: 100%;
        padding: 5rem 0 2rem 0;
    }
    .home-inner {
        width: 1200px;
        margin: auto;
    }
    .mgmaemp-line {
        margin-bottom: 3rem;
    }
    .mgmaemp {
        text-align: center;
        color: #339;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
        border-bottom: 0.5rem solid #339;
        line-height: 1.25;
    }
    .text {
        font-size: 1rem;
        text-align: center;
    }
    .home-block-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    .home-block-wrapper .icon {
        display: block;
        text-decoration: none;
        font-size: 1.25rem;
        color: #333;
        flex: 0 0 23%;
        padding: 1rem;
        border: 1px solid #bbb;
        border-radius: 3px;
        box-shadow: 3px 3px 3px #999;
    }
    .home-block-wrapper .icon:hover {
        background-color: lightgray;
    }
    .home-block-wrapper .icon svg {
        display: block;
    }
    .home-block-wrapper .icon div:nth-child(2) {
        margin-top: 1rem;
    }
    .register-now-block {
        margin-top: 6rem;
        text-align: center;
    }
    .register-now {
        display: inline-block;
        text-decoration: none;
        background-color: #339;
        border-radius: 3px;
        color: #eee;
        padding: 0.5rem 1rem;
    }
    .register-now:hover {
        background-color: #343434;
    }
    @media screen and (max-width: 1200px) {
        .home-outer {
            padding: 2rem 0;
        }
        .mgmaemp-line {
            margin-bottom: 2rem;
        }
        .home-inner {
            width: 100%;
            padding: 0 2rem;
        }
        .home-block-wrapper {
            flex-wrap: wrap;
            padding: 0;
        }
        .home-block-wrapper .icon {
            flex: 0 0 100%;
            margin-bottom: 2rem;
        }
        .register-now-block {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
</style>