---
import Back from "./BackCompo.astro";
---
<div class="section-outer">
    <div class="section-inner">
        <section class="section-body">
            <Back />
            <slot />
        </section>
    </div>
</div>
<style>
    .section-outer {
        width: 100%;
        padding: 4rem 0 3rem 0;
    }
    .section-inner {
        width: 900px;
        margin: auto;
    }
    @media screen and (max-width: 900px) {
        .section-outer {
            padding: 1rem 0 3rem 0;
        }
        .section-inner {
            width: 100%;
            padding: 0 2rem;
        }
    }
</style>