---
import Head from "../components/HeadCompo.astro";
import Header from "../components/HeaderCompo.astro";
import Footer from "../components/FooterCompo.astro";
import Page from "../components/PageCompo.astro";
import FormattedDate from "../components/TimeCompo.astro";
const { frontmatter } = Astro.props;
const { title, description, pubDate } = frontmatter;
const d = pubDate instanceof Date ? pubDate : new Date(pubDate);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <Head title={title} description={description} />
</head>
<body>
    <header>
        <Header />
    </header>
    <main>
        <Page>
            <h2>{title}</h2>
            <FormattedDate date={d} />
            <slot />
        </Page>
    </main>
    <footer>
        <Footer />
    </footer>
</body>
</html>
